{% extends 'base.html.twig' %}

{% block body %}
    <div class="lates">
        <div class="container">
            <div class="text-center">
                <h2>Lates News</h2>
            </div>

            {% for game in games %}
                <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <img src="images/6.jpg" class="img-responsive" />
                    <h3>{{ game.name is defined ? game.name :'gameName'}}</h3>
                    <p>{{ game.description is defined ? game.description|truncate(250) :'game.description'}}
                    </p>
                </div>

            {% endfor %}

        </div>
    </div>



{% endblock %}